<!DOCTYPE html>
<html>
  <head>
    <title>Little Piglet App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= current_user.blank? ? 'public' : 'application' %>">
    <div class="menu">
      <% if current_user %>
        <%= link_to overview_path do %>
          <i class="fas fa-home"></i>
          Home
        <% end %>

        <%= logo %>

        <div class="right">
          <%= link_to profile_path do %>
            <i class="fa fa-user-circle"></i>
            Profile
          <% end %>

          &nbsp;

          <%= link_to logout_path, method: 'delete' do %>
            <i class="fa fa-power-off"></i>
          <% end %>
        </div>

      <% else %>
        <%= link_to login_path, class: "right" do %>
          <i class="fa fa-user-shield"></i> Login
        <% end %>

        <%= link_to join_path, class: "bordered" do %>
          Sign up today
        <% end %>

        <%= logo %>
      <% end %>
    </div>

    <div class="page">
      <p id="flash" class="flash"><%= flash[:message] -%></p>
      <%= yield %>
    </div>

    <div class="footer">
      <i class="fas fa-piggy-bank" style="font-size:18px;transform:rotate(-10deg)"></i> <br>
      &copy; <%= Time.now.stamp('2019') %> The Little Piglet <br> <small> https://littlepigletapp.herokuapp.com </small>
    </div>
  </body>
</html>
